body {
  width: 100%;
  margin: auto;
  font-family: serif;
  font-family: "Varela Round", sans-serif;
}

header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border: solid black;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(65, 109, 109);
  color: aliceblue;
  align-items: center;
}

h1 {
  font-size: 175%;
  font-weight: bold;
}

h2 {
  font-size: 125%;
}

/* Link Stuff */
a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: rgb(12, 173, 47);
}

a::after {
  text-decoration: none;
  color: aliceblue;
}

/* Main section of quiz */
.container {
  width: 50%;
  margin: auto;
  min-width: 800px;
}

.mainprompt {
  background-color: darkgray;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  padding: 3px;
}

#quizField {
  margin: auto;
  background-color: darkgray;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  padding: 3px;
  text-align: center;
}

#question {
  font-size: 24px;
  font-weight: 900;
  margin: 20px;
  text-align: center;
}

/* Button Stuff */
.ansbtn {
  font-size: 16px;
  font-weight: 500;
}

button {
  padding: 8px 15px;
  color: white;
  background-color: forestgreen;
  border-radius: 5px;
  border: solid black 2px;
  margin: 10px;
  width: 30%;
  min-width: fit-content;
}

#submit {
  width: fit-content;
}

#back {
  width: fit-content;
}

#reset {
  width: fit-content;
}

button:hover {
  background-color: limegreen;
}

.startbtn {
  display: flex;
  justify-content: center;
  border: solid black 2px;
  width: 10%;
  background-color: rgb(12, 173, 47);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 15px;
  cursor: pointer;
  min-width: fit-content;
}

/*Score Board Page*/
#scoreFormContainer {
  display: none;
  background-color: darkgray;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  padding: 3px;
  width: 50%;
  min-width: 800px;
  margin: auto;
}

.highScoreHeader {
  display: block;
  text-align: center;
}

.scoreMain {
  text-align: center;
  font-size: 125%;
  background-color: darkgray;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
}

.scoreList li {
  padding: 5px;
}

/* Media Queries */
@media (max-width: 800px) {
  .startbtn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 10px;
  }
  button {
    width: fit-content;
  }
  .container {
    width: 100%;
    min-width: 0px;
    font-size: 1rem;
  }
  #scoreFormContainer {
    width: 100%;
    min-width: 0px;
    font-size: 1rem;
  }
  .ansbtn {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .startbtn {
    font-size: 0.7rem;
  }
  .container {
    font-size: 0.7rem;
  }
  #scoreFormContainer {
    font-size: 0.7rem;
  }
  .ansbtn {
    font-size: 0.7rem;
  }
}
